body{
    background-color:#e7bc91 ;
      background-color: #ffcad4;
    background-image: url('..images/valentine-s-day-concept-background-illustration-3d-red-and-pink-paper-hearts-with-white-square-frame-cute-love-sale-banner-or-greeting-card-free-vector.webp')
  /*background-color:#bde0fe;*/
}

h1{
  color:black;
  font-size:100pt;
  background-color:#f49097;
 /* background-color:#a2d2ff;*/
  text-align: center;
  margin: 10px;
  padding: 30px;
}

img{
  border:5px solid black;
  border-radius:40px;
  position:relative;
  width:;
}

h1{
  background-color:#f49097;
  text-align: center;
  margin: 0px;
  margin-bottom: 10px;
}

table,
td,
th{
  /* border:10px ;
  border-style:initial;*/
  border-color:#f72585 ;
  font-size: 23pt;
  border: 5px outset #7209b7;


}


tr{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  font-size: 14pt;
  color:black;
}

.Living organisms{
    color:cornflowerblue;
}
.Natural places {
    color:blueviolet;
}
.Natural wonders {
    color:crimson;
}
.Sources of water {
    color:deeppink;
}