
h1{
 background-color: antiquewhite;
 text-align: center;
 margin: 0px;
 margin-bottom: 10px;
}
table,
td,
th {
 /* border:2px ;
 border-style: solid;
 border-color: #e63946; */
 font-size: 14pt;
 border: 2px solid #f694c1;
}
tr {
 font-family: fantasy;
 font-style: italic;
 font-size: 14pt;
 color: #f694c1;
}
.rapunzel {
 color: purple;
}
.ariel {
 color: red;
}
.snowwhite {
 color:blue;
}