red {
 text-align: center;
}

orange {
 text-align: center;
}

green {
 text-align: center;
}

blue {
 text-align: center;
}

gray {
 text-align: center;
}

purple {
 text-align: center;
}

pink {
 text-align: center;
}

black {
 text-align: center;
}


/*h2 {
 background-color: green;
}


p {
 background-color: yellow;
}


div {
 background-color: green;
}*/


/*h2 {
 text-align: center;
}*/


h1 {
 text-align: center;
}


<h1 style="font-family:verdana;">This is a heading</h1>